<!-- Use the base template -->
{% extends "base.html" %}

<!-- Title for this page -->
{% block title %}Rain Forecast Blog Page {% endblock %}

<!-- Content for this page -->
{% block content %}
    <div class="container-fluid">
    <br>
        <div class="row">
            <div class="col-md-8">
                <h1>
                    RAIN FORECASTS
                </h1>
                <p>
                    Dolor magna eget est lorem ipsum dolor. Phasellus egestas tellus rutrum tellus pellentesque. Ultrices tincidunt arcu non sodales neque sodales. Iaculis urna id volutpat lacus laoreet non curabitur. Adipiscing commodo elit at imperdiet dui accumsan sit. Gravida rutrum quisque non tellus orci. Ultrices neque ornare aenean euismod elementum nisi quis eleifend. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Amet cursus sit amet dictum. Nunc mattis enim ut tellus elementum sagittis. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. In iaculis nunc sed augue lacus viverra vitae congue.
                </p>
            </div>
            <div class="col-md-4">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-12">
                <p>
                    ajwdnwakjdnwakjndkwajdnakjwdnkawdnkajw
                </p>
            </div>
        </div>
</div>
{% endblock %}